/* src/routes/Home.css */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap; /* 화면 크기에 따라 자동 줄바꿈 */
}

.weather-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .weather-content {
    flex-direction: row; /* 큰 화면에서는 가로 배치 */
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: nowrap; /* 화면 크기에 따라 자동 줄바꿈 */
  }
}

.favorite-list-container {
  width: 250px;
  position: sticky;
  top: 20px;
}

.weatherInfo {
  max-width: 100%;
}

.forecastList {
  max-width: 100%;
}

header {
  margin: 0px;
}