/* src/components/ForecastList.module.css */
/* src/components/ForecastList.module.css */
.forecastList {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 70%;
  max-width: 800px; 
  margin: 20px auto;
  overflow: hidden; 
}

.forecastTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.forecastItems {
  display: flex;
  justify-content: space-around;
  overflow-x: auto; /* 가로 스크롤 가능하게 설정 */
}

.forecastItem {
  text-align: center;
  font-size: 0.9rem;
  min-width: 100px; /* 아이템 최소 너비 설정 */
}

.forecastItem img {
  width: 40px;
  height: 40px;
}

.forecastItem p {
  margin: 5px 0;
}
